.scroll_navbar_element {
  background: red;
  position: fixed;
  top: 0;
  z-index: 99999999;
  right: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  padding: 16px;
  margin: 0;
  transition: 0.3s ease-in-out;
}

.content_container {
  scroll-margin-top: 10px;
}

.fix_content {
  display: flex;
}
.fix_content_scroll {
  display: flex;
  top: 0;
  background: red;
  position: sticky;
  right: 0;
  left: 0;
  margin: 0;
  transition: 0.3s ease-in-out;
  display: flex;
}

.navbar_element {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background: mediumvioletred;
}
.header_element {
  display: flex;
}
