.scroll_navbar_element {
  background: red;
  position: fixed;
  top: 0;
  z-index: 99999999;
  right: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  padding: 16px;
  margin: 0;
  transition: 0.3s ease-in-out;
}

.content_container {
  scroll-margin-top: 10px;
  transition: 0.3s ease-in-out;
}

.fix_content {
}
.fix_content_scroll {
  top: 70px;
  background: red;
  position: sticky;
  right: 0;
  left: 0;
  margin: 0;
  transition: 0.3s ease-in-out;
}

.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}

.footer_element {
  background-color: blue;
  color: white;
  text-align: center;
  padding: 6px;
}

.navbar_element {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background: mediumvioletred;
  transition: 0.3s ease-in-out;
}
.header_element {
  display: flex;
  transition: 0.3s ease-in-out;
}
